/* Указываем box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
	padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
	list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
	max-width: 100%;
	display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
	margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
	font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

html {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Lato, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {}

.container {
	margin: auto;
}

header {
	background-color: #ffbfbf;
}

.navBar {
	display: flex;
	justify-content: space-between;
	max-width: 1230px;
	margin: auto;
	padding: 20px 0 200px 0;
}

.navBar__group1 {
	display: flex;
	align-items: center;
}

.logo {}

.navBar__menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.navBar__text {
	margin: 0 10px;
	padding: 0 10px;
}

a {
	text-decoration: none;
	color: #1c1b1b;
	font-weight: 800;
}

.navBar__logo {
	padding-right: 40px;
}

.navBar__buttons {
	display: flex;
	text-align: center;
}

.button {}

.consultation__button {
	height: 52px;
	width: 206px;
	border: none;
	border-radius: 5px;

}

.button--gradient {
	background-image: linear-gradient(to right, #EB3349 0%, #F45C43 51%, #EB3349 100%);
	height: 52px;
	width: 206px;
	border: none;
	text-align: center;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	box-shadow: 0 0 20px #eee;
	border-radius: 5px;
}

.button--gradient:hover {
	background-position: right center;
	color: #fff;
	text-decoration: none;
}

.button--double {
	display: flex;
}

.button__invis {

	background-color: rgba(28, 28, 28, 0);
	border: none;
	color: #1c1b1b;
	font-weight: 500;
}

.log-in__button {
	margin-left: 10px;
}

.double__img {
	max-width: 17px;
	max-height: 17px;
	padding-right: 4px;
}

.header__body {
	max-width: 1230px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding-bottom: 189px;
}

.body__group1 {}

.body__video {}

.body__a {
	display: flex;
	align-items: center;
}

.body__play {}

.body__p {}

.body__h1 {
	font-size: 54px;
	color: #1c1b1b;
	font-weight: 800;
	padding: 24px 0 60px 0;
}

.body__buttons {}

.button {}

.button--clear {
	width: 148px;
	height: 52px;
	border-color: #F45C43;
	box-shadow: none;
	color: #F45C43;
	border-radius: 5px;
	background-color: rgba(28, 28, 28, 0);
	margin-right: 24px;
}

.button--clear:hover {
	background-color: #F45C43;
	color: white;
	border: none;
	transition: .5s;
}

.explore__button {}

.body__group2 {}

.body__illustration {}

.header__stats {
	max-width: 1230px;
	display: flex;
	justify-content: space-between;
	margin: auto;
	padding-bottom: 80px;
}

.stats__block {
	display: flex;
	align-items: center;
	position: relative;

}

.stats__block:first-child::before {
	display: none;
}

.stats__block::before {
	content: '·';
	color: #F45C43;
	font-size: 100px;
	left: -70px;
	position: absolute;
}

.numbers {
	font-size: 54px;
}

.stats__numbers {
	color: #1c1b1b;
	font-weight: 800;
	padding-right: 12px;
}

.stats__text {
	padding-top: 20px;
	font-size: 17px;
	color-scheme: #1c1b1b;
	font-style: 900;

}

.main__body {
	max-width: 1230px;
	margin: auto;
}

.main__about {
	display: flex;
	padding: 180px 0;
}

.about_girl {}

.about__group1 {
	padding-left: 135px;
}

.text-small {
	color: #1c1b1b;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.header__text {
	color: #1c1b1b;
	font-size: 46px;
	font-weight: 700;
	padding-bottom: 40px;
}

.about__ul {}

.about__check {
	align-self: flex-start;
	padding: 5px 5px 0 0;
}

.about__list {
	list-style: none;
	background: url(img/about__check.svg) no-repeat;
	background-position: 0 50%;
	color: #1c1b1b;
	padding: 6px 0 6px 24px;
	display: flex;
	align-self: flex-start;
	font-size: 16px;
	display: flex;
}

.about__list:first-child {
	background-position: 0 25%;
}

.about__button {
	margin-top: 16px;
	width: 161px;
}

.main__courses {}

.courses__header__group {
	display: grid;
	justify-content: space-between;

}

.courses__text {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.courses__header {}

.button {}

.clear__button {}

.courses__button {
	margin: auto;
	width: 202px;
	font-size: 16px;
}

.courses__cards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 45px 0 165px 0;
}

.courses__card {
	max-width: 600px;
	max-height: 214px;
	display: grid;
	grid-template-columns: 1fr 2fr;
	box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
	margin: 15px 0 15px 0;
}

.card--marketing {}

.card__img {
	max-height: 200px;
}

.courses__card__group {
	padding-left: 32px;
	border: solid 1px;
	border-color: gainsboro;
	border-radius: 3px;
	border-left: none;

}

.card__header {
	display: inline-block;
	padding: 1px 8px;
	color: white;
	font-size: 14px;
	font-weight: 400;
	margin: 33px 0 21px 0;
	border-radius: 3px;
}

.card__header--marketing {
	background-color: #00a868;
}

.card__text {
	color: #1c1b1b;
	font-size: 20px;
	font-weight: 700;

}

.card__group--name--prise {
	display: flex;
	margin: 20px 0 12px 0;
	font-size: 18px;
}

.card__name::before {
	content: '|';
	display: block;
	color: gainsboro;
	position: absolute;
	left: 0;
	margin: auto;
}

.card__prise {
	color: #EB3349;
	font-weight: 700;
	padding-right: 8px;
}

.card__name {
	color: gainsboro;
	font-weight: 400;
	position: relative;
	padding-left: 10px;
}

.courses__card__group2 {
	padding-left: 32px;
	border: solid 1px;
	border-color: gainsboro;
	border-radius: 3px;
	border-left: none;
}

.card__header--management {
	background-color: #63acff;
}

.courses__card__group3 {
	padding-left: 32px;
	border: solid 1px;
	border-color: gainsboro;
	border-radius: 3px;
	border-left: none;
}

.card__header--hr {
	background-color: orange;
}

.courses__card__group4 {
	padding-left: 32px;
	border: solid 1px;
	border-color: gainsboro;
	border-radius: 3px;
	border-left: none;
}

.card__header--design {
	background-color: #F52F6E;
}

.main__benefits {}

.text-small-center {
	display: flex;
	justify-content: center;
}

.header__text-center {
	display: flex;
	justify-content: center;
	padding: 8px 0 60px 0;
}

.benefits__buttons {
	display: flex;
	justify-content: space-between;
}

.benefits__button-width {
	width: 307px;
	height: 46px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.benefits__body {
	display: flex;
	align-items: center;
	padding: 60px 0 120px;
}

.benefits__group1 {
	padding-right: 127px;
}

.benefits__h3 {
	font-size: 32px;
	font-weight: 700;
	padding-bottom: 24px;
}

.benefits__text {
	font-size: 16px;
}

.benefits__img {}

.main-beige {
	background-color: beige;
}

.text-small-center {
	padding-top: 80px;
}

.text-small {}

.header__text-center {
	padding-bottom: 48px;
}

.header__text {}

.event__card {
	max-width: 1230px;
	height: 126px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	padding: 0 40px 0;
	margin: 24px 0;
	border-radius: 10px;
}

.event__card:hover {
	box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
	transition: .3s;
}

.event__group1 {}

.event__group1 {
	padding: 0 0 0 80px;
	position: relative;
	width: 180px;
}

.event__group1:first-child::before {}

.event__group1::before {
	color: #F45C43;
	font-size: 48px;
	font-weight: 600;
	left: 10px;
	bottom: -11px;
	position: absolute;
}

.event__card__group1::before {
	content: '05';
}

.event__date {
	font-size: 20px;
	font-weight: 600;
}

.event__time {
	color: gainsboro;
	font-size: 16px;
	font-weight: 500;
}

.event__group2 {
	margin: 0 26px 0;
	width: 758px;
}

.event__text {
	font-size: 20px;
	font-weight: 600;
}

.event__class {
	color: gainsboro;
	font-size: 16px;
	font-weight: 500;
}

.event__group3 {
	padding-bottom: 22px;
}

.event__button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 44px;
	width: 136px;
	font-size: 16px;
	font-weight: 600;
	border: solid 1px;
}


.event__card2__group1::before {
	content: '24';
}

.event__card3__group1::before {
	content: '16';
}

.footer-bigue {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 48px 0 80px;
}

.footer__text-bigue {
	padding: 0 20px;
	font-size: 28px;
	font-weight: 600;
}

.footer__button-bigue {
	margin: 0 20px;
	width: 214px;
	height: 52px;
}

.certificate__body {
	margin: auto;
	display: flex;
	justify-content: center;
	padding: 120px 0 0 50px;
	max-width: 1330px;
}

.certificate__group1 {}

.certificate__text {
	color: gainsboro;
	font-weight: 700;
}

.certificate__img__group {
	display: flex;
	padding-top: 32px;
}

.certificate__img {
	padding: 0 20px;
}

.certificate__img:first-child {
	padding-left: 0px;
}

.certificate__group2 {}

.certificate__main__img {
	padding-left: 20px;
}

.body-gray {
	background-color: rgba(220, 220, 220, 0.4);
	padding-top: 120px;
}

.team__body {
	max-width: 1230px;
	margin: auto;
}

.team__header {
	bottom: 15px;
	position: absolute;
	top: 20px;
}

.team__text {
	position: absolute;
	top: 0px;
}

.team__carousel {
	position: relative;
	padding: 150px 0;
}

.team__carousel img {
	width: 285px;
	height: 340px;
	margin: 0 10px 0;
	background-color: #e8b707;
	display: block;
}

.arrow {
	position: absolute;
	top: 0px;
	padding: 20px 15px;
	font-size: 24px;
	line-height: 0px;
	background: rgba(1, 1, 1, .0);
	border: 1px;
	color: #444;
	display: block;
	top: 40px;
}

.arrow:focus {
	outline: none;
}

.arrow:hover {
	height: 48px;
	width: 48px;
	color: white;
	background: red;
	border-radius: 200px;
	cursor: pointer;
	transition: .3s;
}

.prev {
	right: 80px;

}

.next {
	right: 0px;
}

.team__name {
	padding: 16px 0 4px 0;
	color: #1c1b1b;
	font-size: 20px;
	font-weight: 700;
	display: flex;
	justify-content: center;
}

.prof {
	color: #1c1b1b;
	font-size: 206px;
	font-weight: 700;
	display: flex;
	justify-content: center;
}

.gallery {
	width: 1230px;
	height: 420px;
	overflow: hidden;
}

.gallery ul {
	height: 320px;
	width: 9999px;
	margin: 0;
	padding: 0;
	list-style: none;
	transition: margin-left 250ms;

	font-size: 0;
}

.gallery li {
	display: inline-block;
}

.team__img {
	border-radius: 5px;
	background-color: #e8b707;
	padding: 20px 20px 0;
}

.team__img:hover {
	box-shadow: 0px -100px 50px -40px rgba(0, 0, 0, 0.7) inset;
	transition: 0.3s;
}

.team__name {
	display: flex;
	justify-content: center;
	font-size: 20px;
	font-weight: 600;
}

.prof {
	display: flex;
	justify-content: center;
	font-size: 14px;
	font-weight: 300;
}
